@import url("https://fonts.googleapis.com/css?family=Inter");

/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(file://Users/tammer/Downloads/font.ttf) format("truetype");
} */

body {
  background-color: #f5f5f5;
}

.row {
  padding: 0px;
  margin: 0px;
}
.col {
  padding: 0px;
}
.section-inner {
  background-color: #f5f5f5;
  border: 1px;
  border-style: solid;
  border-color: #d0d7de;
  border-radius: 3px;
  padding: 0px;
}

.section-title {
  font-size: 20px;
  padding: 2px;
}

.left-pane {
  background-color: white;
  min-height: 100%;
  height: 100%;
}

.foo {
  text-align: left;
  color: black;
  background-color: #a7e9f0;
}

.instructions {
  padding: 12px;
}

.debug2 {
  background-color: palegreen;
}

.code-indent {
  margin-left: 20px;
}

.attribute {
  background-color: white;
  color: #4b6a88;
  font-weight: bold;
}

.filter-code {
  background-color: #1e1e1d;
  color: #dcdcab;
  font-size: 12px;
  padding: 20px;
  padding-right: 0px;
  margin-bottom: 40px;
}

.code-color-0 {
  color: #dcdcab;
}

.code-color-1 {
  color: pink;
}

.code-color-2 {
  color: orange;
}

.code-color-3 {
  color: greenyellow;
}

.slider-label {
  text-align: right;
  padding-top: 2px;
  font-size: 12px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  /* background-color: pink; */
}

.slider-div {
  margin: 0px;
  /* background-color: aqua; */
  padding-top: 5px;
  padding-bottom: 5px;
}

.skills-container {
  font-size: 11px;
  margin-bottom: 40px;
  font-weight: bold;
}

.modal-90w {
  width: 65%;
  max-width: 100%;
  background-color: pink;
}

.skill-row {
  margin-bottom: 3px;
}

.skill-summary-left {
  background-color: rgb(192, 185, 230);
  color: black;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  text-align: right;
}
.skill-summary-right {
  color: black;
  background-color: white;
  border: 1px solid gray;
  border-left: none;
  font-weight: bold;
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

.simple-indent {
  margin-left: 30px;
}

/* Trying */

.outer-container {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #232f3e;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1d2a39;
}

.requirements-section {
  border-bottom: #e4e4e4 2px solid;
  min-height: 120px;
}

.requirements-section-right {
  padding-top: 8px;
}

.requirements-section-right h1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-left: -6px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.8;
}

.requirements-section-right h2 {
  font-weight: 700;
  font-size: 10px;
  line-height: 17px;
  margin-left: -5px;
  margin-bottom: -1px;
  color: #000000;
  opacity: 0.8;
}

.scontainer {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.ssection {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-size: cover;
  scroll-snap-align: start;
}

.ssection > h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

.ssection > ul {
  font-size: 2vw;
}
.ssection > ol {
  font-size: 2vw;
}
.ssection > li {
  font-size: 2vw;
}

.ssection > h1 {
  font-size: 4vw;
}

.ssection > h2 {
  font-size: 3vw;
}

.ssection > h5 {
  text-align: center;
  margin: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: gray;
}

.ssection .c1 {
  /* background-color: pink; */
  margin: 8%;
}

.ssection .r1,
.r2 {
  text-align: center;
  font-size: 2.5vw;
}

.ssection .r3 {
  font-size: 1.1vw;
}

.ssection:nth-child(even) {
  background-color: #c0d7de;
}

.ssection:nth-child(odd) {
  background-color: #e0d7de;
}

/* Main Layout */

.main-container {
  display: grid;
  grid-template-columns: 360px;

  width: 100%;
  background-color: #f5f5f5;
  border: 0px solid;
  padding: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #232f3e;
  margin-top: 50px;
}

.two-columns {
  display: grid;
  grid-template-columns: auto auto;
}

.left-panel {
  width: 360px;
  /* background-color: #dcdcab; */
}

.right-panel {
  display: inline-grid;
  border-bottom: #e4e4e4 2px solid;
  padding-bottom: 10px;
  margin-bottom: 18px;
  /* background-color: #4b6a88; */
}

.left-subpanel,
.right-subpanel {
  /* background-color: pink; */
  width: 360px;
  padding: 4px;
  padding-top: 8px;
  padding-left: 13px;
}

.left-subpanel {
  padding-right: 40px;
  /* background-color: orange; */
}

.double-subpanel {
  padding-left: 13px;
  width: 90%;
  grid-column: 1 /3;
  font-size: 14px;
  line-height: 20px;
}

.right-subpanel {
  /* background-color: pink; */
  padding-top: 15px;
}

.left-subpanel > h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1d2a39;
}

.right-subpanel h1 {
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  /* margin-left: -6px; */
  margin-bottom: 14px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.8;
}

.right-subpanel h2 {
  font-weight: 700;
  font-size: 10px;
  line-height: 17px;
  /* margin-left: -6px; */
  margin-left: 0px;
  margin: 0 px;
  margin-bottom: -1px;
  text-align: left;
  color: #202223;

  padding: 0px;
  opacity: 0.8;
}

.attribute-section {
  margin-bottom: 25px;
}

@media (min-width: 720px) {
  .main-container {
    grid-template-columns: 720px;
  }
  .right-panel {
    grid-template-columns: 360px 360px;
  }
  .left-panel {
    width: 720px;
  }
}

@media (min-width: 1080px) {
  .main-container {
    grid-template-columns: 360px 720px;
  }
  .right-panel {
    grid-template-columns: 360px 360px;
  }
}

.selector {
  margin-left: -1px;
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.bpswitch-off {
  color: white;
  font-size: 9px;
  padding-left: 5px;
  padding-top: 2px;
}

.bpswitch-on {
  color: black;
  font-size: 9px;
  padding-left: 4px;
  padding-top: 2px;
}

.bp-button {
  color: #000000;
  border-radius: 4px;
  background-color: #edd716;
  border-color: #edd716;
  border: none;
  text-align: center;
  height: 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
}

.bp-button:hover {
  background-color: #fde716;
}

.bp-button:active {
  border: 4px solid #e1c919;
  text-align: center;
  margin-right: 0px;
}

.bp-button:disabled {
  background-color: #d0d7de;
  pointer-events: none;
}

.no-borders {
  border: none;
}
