body {
  background-color: #f6f8fa;
}

.row {
  padding: 0px;
  margin: 0px;
}
.col {
  padding: 0px;
}
.section-inner {
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: #d0d7de;
  border-radius: 3px;
  padding: 0px;
}

.section-title {
  font-size: 20px;
  padding: 2px;
}

.left-pane {
  background-color: white;
  min-height: 100%;
  height: 100%;
}

.foo {
  text-align: left;
  color: black;
  background-color: #a7e9f0;
}

.instructions {
  padding: 12px;
}

.debug {
  background-color: aqua;
}
